# WorkShop 2

Let's play with pandas and answer "stakeholders" _questions_.

Problems $2-13$ rely on your `Problem 1` answer.

## Problem  1

Load the energy data from the file `assets/Energy Indicators.xls`, which is a list of indicators of [energy supply and renewable electricity production](assets/Energy%20Indicators.xls) from the [United Nations](http://unstats.un.org/unsd/environment/excel_file_tables/2013/Energy%20Indicators.xls) for the year 2013, and should be put into a DataFrame with the variable name of __energy_df__.

Keep in mind that this is an _Excel file_, and not a _comma separated values file_. Also, make sure to _exclude_ the footer and header information from the datafile. The first _two columns_ are unneccessary, so you should get rid of them, and you should change the column labels so that the columns are:

```python
['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable]
```

Convert `Energy Supply` to _gigajoules_ (there are $1000000$ _gigajoules_ in a _petajoule_**). For all countries which have missing data (_e.g._ data with "...") make sure this is reflected as `np.NaN` values.

Rename the following list of countries (_for use in later questions_):

```bash
"Republic of Korea": "South Korea",
"United States of America": "United States",
"United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
"China, Hong Kong Special Administrative Region": "Hong Kong"
```

There are also several countries with parenthesis in their name. Be sure to _remove these_, e.g. `'Bolivia (Plurinational State of)'` should be `'Bolivia'`. Additionally, there are several countries with _Numeric digits_ in their name. Make sure to remove these as well, e.g. `'Italy9'` should be `'Italy'`. 

Next, load the GDP data from the file `assets/world_bank.csv`, which is a _csv_ containing countries' GDP from $1960$ to $2015$ from [World Bank](http://data.worldbank.org/indicator/NY.GDP.MKTP.CD). Call this DataFrame __gdp_df__. 

Make sure to _skip the header_, and _rename_ the following list of countries:

```bash
"Korea, Rep.": "South Korea", 
"Iran, Islamic Rep.": "Iran",
"Hong Kong SAR, China": "Hong Kong"
```

Finally, load the [Scimago Journal and Country Rank data for Energy Engineering and Power Technology](http://www.scimagojr.com/countryrank.php?category=2102) from the file `assets/scimagojr-3.xlsx`, which ranks countries based on their _journal contributions_ in the aforementioned area. Call this DataFrame __scimago_df__.

Join the _thrgoee datasets_: _energy\_df_, _gdp\_df_ and _scimago\_df_, into a new dataset (using the _intersection_ of _country names_). Use only the _last_ $10$ years ($2006-2015$) of __GDP data__ and only the _top 15 countries_ by __Scimagojr 'Rank'__ (_Rank 1 through 15_). 

The _index_ of this DataFrame should be the __name__ of the country, and the _columns_ should be:
`['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations', 'Citations per document', 'H index', 'Energy Supply', 'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008','2009', '2010', '2011', '2012', '2013', '2014', '2015']`.

_This function should return a DataFrame with 20 columns and 15 entries, and the rows of the DataFrame should be sorted by "Rank"._

In [48]:
import pandas as pd
import numpy as np

def generate_energy_df() -> pd.DataFrame:
    """
    Loads and processes the energy data.

    The function performs the following operations:
    1. Loads the energy data from the Excel file 'Energy Indicators.xls'.
    2. Converts the 'Energy Supply' from petajoules to gigajoules.
    3. Removes parentheses and numeric digits from country names.
    4. Renames specific country names for consistency.

    Returns:
        pandas.DataFrame: A dataframe containing the processed energy data.
    """
    # YOUR CODE HERE load dataframe and remove header and footer
    energy_df = pd.read_excel('assets/Energy Indicators.xls', names=['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable'], na_values=["..."])
    energy_df = energy_df.iloc[17:244]
    # YOUR CODE HERE transform data
    energy_df['Energy Supply'] *= 1000000

    # YOUR CODE HERE transform Country column
    # Remove parentheses and numeric digits from country names
    energy_df['Country'] = energy_df['Country'].str.replace(r'\(.*\)', '', regex=True).str.replace(r'\d+', '', regex=True).str.strip()

    # Rename the countries
    energy_country_renames = {
        "United States of America": "United States",
        "United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
        "Republic of Korea": "South Korea",
        "Iran (Islamic Republic of)": "Iran",
        "Hong Kong Special Administrative Region of China": "Hong Kong"
    }
    energy_df['Country'] = energy_df['Country'].replace(energy_country_renames)


    return energy_df

def get_GDP_df() -> pd.DataFrame:
    """
    Loads and processes the GDP data.

    The function performs the following operations:
    1. Loads the GDP data from the CSV file 'world_bank.csv'.
    2. Renames specific country names for consistency.
    3. Filters the data to include only the columns for the years 2006-2015.
    4. Renames the 'Country Name' column to 'Country'.

    Returns:
        pandas.DataFrame: A dataframe containing the processed GDP data.
    """
    def is_number(s: str) -> bool:
        """
        Check if a string is a number.

        Args:
            s (str): The string to check.

        Returns:
            A boolean indicating if the string is a number.
        """
        try:
            int(s)  
            return True
        except ValueError:
            return False
    # YOUR CODE HERE load data, remove header, adjust column names
    gdp_df = pd.read_csv('assets/world_bank.csv')
    gdp_df.columns = gdp_df.iloc[3]
    gdp_df = gdp_df.iloc[4:]
    country_renames_gdp = {
        "Korea, Rep.": "South Korea",
        "Iran, Islamic Rep.": "Iran",
        "Hong Kong SAR, China": "Hong Kong"
    }
    gdp_df['Country Name'] = gdp_df['Country Name'].replace(country_renames_gdp)

    # YOUR CODE HERE transform Country column
    gdp_df = gdp_df[['Country Name', 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015]]
    gdp_df.rename(columns={'Country Name': 'Country'}, inplace=True)
    
    return gdp_df

def get_scimago_df() -> pd.DataFrame:
    """
    Loads the Scimago data from the Excel file 'scimagojr-3.xlsx'.

    Returns:
        pandas.DataFrame: A dataframe containing the Scimago data.
    """
    # YOUR CODE HERE load data
    scimago_df = pd.read_excel('assets/scimagojr-3.xlsx', engine='openpyxl')
    
    return scimago_df

def answer_one() -> pd.DataFrame:
    """
    Merges the energy, GDP, and Scimago data into a single dataframe.

    Returns:
        pandas.DataFrame: A dataframe containing the merged data, indexed by country and sorted by rank.
    """
    # YOUR CODE HERE
    energy_df = generate_energy_df()
    gdp_df = get_GDP_df()
    scimago_df = get_scimago_df()

    # Filter the Scimago data to include only the top 15 countries by rank
    scimago_top15 = scimago_df[scimago_df['Rank'] <= 15]

    # Merge the dataframes
    merged_df = pd.merge(scimago_top15, energy_df, on='Country', how='inner')
    merged_df = pd.merge(merged_df, gdp_df, on='Country', how='inner')
    
    # Set the index to Country and sort by Rank
    merged_df.set_index('Country', inplace=True)
    merged_df.sort_values(by='Rank', inplace=True)
    
    return merged_df

get_GDP_df()

3,Country,2006.0,2007.0,2008.0,2009.0,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0
4,Aruba,NaN,NaN,NaN,NaN,2.467704e+09,NaN,NaN,NaN,NaN,NaN
5,Andorra,4.018196e+09,4.021331e+09,3.675728e+09,3.535389e+09,3.346317e+09,3.185605e+09,3.129538e+09,3.127550e+09,NaN,NaN
6,Afghanistan,1.030523e+10,1.172119e+10,1.214448e+10,1.469733e+10,1.593680e+10,1.691113e+10,1.935220e+10,1.973134e+10,1.999032e+10,2.029415e+10
7,Angola,5.581103e+10,6.842044e+10,7.787420e+10,7.975320e+10,8.247091e+10,8.570262e+10,9.012096e+10,9.626143e+10,1.008863e+11,1.039106e+11
8,Albania,9.771760e+09,1.034829e+10,1.112752e+10,1.150029e+10,1.192695e+10,1.223109e+10,1.240477e+10,1.254247e+10,1.279331e+10,1.312082e+10
...,...,...,...,...,...,...,...,...,...,...,...
263,"Yemen, Rep.",2.672565e+10,2.761787e+10,2.872656e+10,2.991436e+10,3.090675e+10,2.624342e+10,2.689160e+10,2.800914e+10,NaN,NaN
264,South Africa,3.402852e+11,3.585261e+11,3.699668e+11,3.642764e+11,3.753494e+11,3.874074e+11,3.960071e+11,4.047682e+11,4.110369e+11,4.163117e+11
265,"Congo, Dem. Rep.",1.650894e+10,1.754232e+10,1.863448e+10,1.916651e+10,2.052329e+10,2.193213e+10,2.350200e+10,2.550050e+10,2.778776e+10,2.970961e+10
266,Zambia,1.440569e+10,1.560892e+10,1.682234e+10,1.837342e+10,2.026555e+10,2.140358e+10,2.302438e+10,2.420595e+10,2.542227e+10,2.624127e+10
267,Zimbabwe,1.006276e+10,9.695130e+09,7.982103e+09,8.459783e+09,9.422161e+09,1.054391e+10,1.165789e+10,1.218064e+10,1.264939e+10,1.278517e+10

In [49]:
# example of test cases
assert type(answer_one()) == pd.DataFrame, "Q1: You should return a DataFrame!"
assert answer_one().shape == (15,20), "Q1: Your DataFrame should have 20 columns and 15 entries!"

In [ ]:
# space for proffesor tests

## Problem 2

The _Problem 1_ joined three datasets then reduced this to just the top $15$ entries. When you joined the datasets, but before you reduced this to the top $15$ items, how many entries did you lose?

_This function should return a single number._

In [ ]:
%%HTML
<svg width="800" height="300">
  <circle cx="150" cy="180" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="blue" />
  <circle cx="200" cy="100" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="red" />
  <circle cx="100" cy="100" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="green" />
  <line x1="150" y1="125" x2="300" y2="150" stroke="black" stroke-width="2" fill="black" stroke-dasharray="5,3"/>
  <text x="300" y="165" font-family="Verdana" font-size="35">Everything but this!</text>
</svg>

In [54]:
def answer_two():
    """
    Determines the number of entries lost during the merge process of the datasets.

    Returns:
        int: The number of entries lost during the merge process.
    """
    #YOUR CODE HERE
    energy_df = generate_energy_df()
    gdp_df = get_GDP_df()
    scimago_df = get_scimago_df()
    
    energy_countries = set(energy_df['Country'])
    gdp_countries = set(gdp_df['Country'])
    scimago_countries = set(scimago_df['Country'])
    
    # Total unique countries before merging
    total_unique_countries_before = len(energy_countries | gdp_countries | scimago_countries)
    print('Countries before:',total_unique_countries_before)
    
    merged_df = pd.merge(scimago_df, energy_df, on='Country', how='inner')
    merged_df = pd.merge(merged_df, gdp_df, on='Country', how='inner')
    
    # Unique countries after merging
    total_unique_countries_after = merged_df['Country'].nunique()
    print('Countries after:', total_unique_countries_after)
    
    # Entries lost
    entries_lost = total_unique_countries_before - total_unique_countries_after
    
    return entries_lost

print(answer_two())

Countries before: 320
Countries after: 160
160

In [55]:
# example of test cases
assert type(answer_two()) == int, "Q2: You should return an int number!"

Countries before: 320
Countries after: 160

In [ ]:
# space for proffesor tests

## Problem 3

What are the top $15$ countries for average GDP over the last $10$ years?

_This function should return a Series named `avg_gdp` with $15$ countries and their average GDP sorted in descending order._

In [69]:
def answer_three() -> pd.Series:
    """
    Finds the top 15 countries for average GDP over the last 10 years.

    Returns:
        pd.Series: A Series named `avg_gdp` with 15 countries and their average GDP sorted in descending order.
    """
    # YOUR CODE HERE
    df = answer_one()
    avg_gdp_df = df.loc[:, 2006:2015].apply(lambda x: x.mean(), axis=1).sort_values(ascending=False)
    
    return avg_gdp_df

answer_three()

Country
United States         1.536434e+13
China                 6.348609e+12
Japan                 5.542208e+12
Germany               3.493025e+12
France                2.681725e+12
United Kingdom        2.487907e+12
Brazil                2.189794e+12
Italy                 2.120175e+12
India                 1.769297e+12
Canada                1.660647e+12
Russian Federation    1.565459e+12
Spain                 1.418078e+12
Australia             1.164043e+12
South Korea           1.106715e+12
Iran                  4.441558e+11
dtype: float64

In [70]:
# example of test cases
assert type(answer_three()) == pd.Series, "Q3: You should return a Series!"

In [ ]:
# space for proffesor tests

# Problem 4

By how much had the GDP changed over the $10$ year span for the country with the $6-th$ largest average GDP?

_This function should return a single number._

In [91]:
def answer_four() -> float:
    """
    Calculates the change in GDP over the 10-year span for the country with the 6th largest average GDP.

    Returns:
        float: The change in GDP over the 10-year span.
    """
    avg_gdp = answer_three()
    sixth_country = avg_gdp.index[5] #The 6-th largest average GDP
    
    df = answer_one()
    gdp_change = df.loc[sixth_country, 2015] - df.loc[sixth_country, 2006]
    
    return float(gdp_change)

answer_four()

246702696075.3999

In [92]:
# example of test cases
assert type(answer_four()) == float, "Q4: You should return a single number!"

In [ ]:
# space for proffesor tests

## Problem 5

What is the _mean energy supply per capita_?

_This function should return a single number._

In [93]:
def answer_five() -> int:
    """
    Calculates the mean energy supply per capita.

    Returns:
        float: The mean energy supply per capita.
    """
    # YOUR CODE HERE
    
    df = answer_one()
    mean_energy_supply_per_capita = df['Energy Supply per Capita'].mean()
    
    return float(mean_energy_supply_per_capita)
answer_five()

157.6

In [94]:
# example of test cases
assert type(answer_five()) == float, "Q5: You should return a single number!"

In [ ]:
# space for proffesor tests

## Problem 6

What __country__ has the _maximum % Renewable_ and what is the _percentage_?

_This function should return a tuple with the name of the country and the percentage._

In [95]:
def answer_six() -> tuple:
    """
    Finds the country with the maximum % Renewable and its percentage.

    Returns:
        tuple: A tuple with the name of the country and the percentage.
    """
    # YOUR CODE HERE
    df = answer_one()
    max_renewable_country = df['% Renewable'].idxmax()
    max_renewable_percentage = df['% Renewable'].max()
    
    return (max_renewable_country, max_renewable_percentage)
answer_six()

('Brazil', 69.64803)

In [96]:
# example of test cases
assert type(answer_six()) == tuple, "Q6: You should return a tuple!"
assert type(answer_six()[0]) == str, "Q6: The first element in your result should be the name of the country!"

In [ ]:
# space for proffesor tests

## Problem 7

Create a new column that is the _ratio of Self-Citations to Total Citations_. 
What is the _maximum_ value for this new column, and what _country_ has the _highest ratio_?

_This function should return a tuple with the name of the country and the ratio._

In [98]:
def answer_seven() -> tuple:
    """
    Creates a new column for the ratio of Self-Citations to Total Citations,
    finds the maximum value for this ratio, and the country with the highest ratio.

    Returns:
        tuple: A tuple with the name of the country and the ratio.
    """
    # YOUR CODE HERE
    df = answer_one()
    
    df['Self-Citations Ratio'] = df['Self-citations'] / df['Citations']
    
    # Find the country with the highest ratio
    max_ratio_country = df['Self-Citations Ratio'].idxmax()
    max_ratio_value = df['Self-Citations Ratio'].max()
    
    return (max_ratio_country, max_ratio_value)
answer_seven()

('China', 0.6893126179389422)

In [99]:
# example of test cases
assert type(answer_seven()) == tuple, "Q7: You should return a tuple!"
assert type(answer_seven()[0]) == str, "Q7: The first element in your result should be the name of the country!"

In [ ]:
# space for proffesor tests

## Problem 8

Create a column that estimates the _population using Energy Supply_ and _Energy Supply per capita_. 
What is the _third_ most populous country according to this estimate?

_This function should return the name of the country._

In [112]:
def answer_eight() -> str:
    """
    Creates a new column to estimate the population using Energy Supply and Energy Supply per capita,
    and finds the third most populous country according to this estimate.

    Returns:
        str: The name of the third most populous country.
    """
    # YOUR CODE HERE
    df = answer_one()
    
    df['Estimated Population'] = df['Energy Supply'] / df['Energy Supply per Capita']
    sorted_population = df['Estimated Population'].sort_values(ascending=False)
    third_most_populous_country = sorted_population.index[2]
    
    return third_most_populous_country
answer_eight()

'United States'

In [113]:
# example of test cases
assert type(answer_eight()) == str, "Q8: You should return the name of the country!"

In [ ]:
# space for proffesor tests

## Problem 9

Create a column that estimates the _number of citable documents per person_. 

What is the correlation between the _number of citable documents per capita_ and the _energy supply per capita_? Use the `.corr()` method, (Pearson's correlation).

_This function should return a single number._

In [114]:
def answer_nine() -> float:
    """
    Creates a column to estimate the number of citable documents per person and 
    calculates the Pearson correlation between the number of citable documents per capita 
    and the energy supply per capita.

    Returns:
        float: The Pearson correlation coefficient.
    """
    # YOUR CODE HERE
    df = answer_one()
    
    # Estimate the number of citable documents per person
    df['Citable Documents per Capita'] = df['Citable documents'] / (df['Energy Supply'] / df['Energy Supply per Capita'])
    correlation = df['Citable Documents per Capita'].corr(df['Energy Supply per Capita'])
    
    return correlation
answer_nine()

0.7940010435442946

In [115]:
# example of test cases
assert answer_nine() >= -1. and answer_nine() <= 1., "Q9: A valid correlation should between -1 to 1!"

In [ ]:
# space for proffesor tests

## Problem 10

Create a new column with a $1$ if the _country's % Renewable_ value is at or above the median for all countries in the _top 15_, and a $0$ if the _country's % Renewable_ value is below the median.

_This function should return a series named `high_renew` whose index is the country name sorted in ascending order of rank._

In [116]:
def answer_ten() -> pd.Series:
    """
    Creates a new column with a 1 if the country's % Renewable value is at or above the median 
    for all countries in the top 15, and a 0 if the country's % Renewable value is below the median.
    
    Returns:
        pd.Series: A series named `high_renew` whose index is the country name sorted in ascending order of rank.
    """
    # YOUR CODE HERE
    df = answer_one()
    
    median_renewable = df['% Renewable'].median()
    df['HighRenew'] = (df['% Renewable'] >= median_renewable).astype(int)
    high_renew = df.sort_values(by='Rank')['HighRenew']
    
    return high_renew
answer_ten()

Country
China                 1
United States         0
Japan                 0
United Kingdom        0
Russian Federation    1
Canada                1
Germany               1
India                 0
France                1
South Korea           0
Italy                 1
Spain                 1
Iran                  0
Australia             0
Brazil                1
Name: HighRenew, dtype: int32

In [117]:
# example of test cases
assert type(answer_ten()) == pd.Series, "Q10: You should return a Series!"

In [ ]:
# space for proffesor tests

## Problem 11

Use the following dictionary to group the _Countries by Continent_, then create a DataFrame that displays the sample size (the number of countries in each continent bin), and the _sum_, _mean_, and _std deviation_ for the estimated population of each country.

```python
ContinentDict  = {
    'China':'Asia', 
    'United States':'North America', 
    'Japan':'Asia', 
    'United Kingdom':'Europe', 
    'Russian Federation':'Europe', 
    'Canada':'North America', 
    'Germany':'Europe', 
    'India':'Asia',
    'France':'Europe', 
    'South Korea':'Asia', 
    'Italy':'Europe', 
    'Spain':'Europe', 
    'Iran':'Asia',
    'Australia':'Australia', 
    'Brazil':'South America'
}
```

_This function should return a DataFrame with index named Continent `['Asia', 'Australia', 'Europe', 'North America', 'South America']` and columns `['size', 'sum', 'mean', 'std']`_

In [118]:
def answer_eleven() -> pd.DataFrame:
    """
    Groups the countries by continent and creates a DataFrame that displays the sample size, sum, mean, 
    and standard deviation for the estimated population of each country.

    Returns:
        pd.DataFrame: A DataFrame with index named Continent and columns ['size', 'sum', 'mean', 'std'].
    """
    # YOUR CODE HERE
    df = answer_one()
    
    ContinentDict = {
        'China': 'Asia', 
        'United States': 'North America', 
        'Japan': 'Asia', 
        'United Kingdom': 'Europe', 
        'Russian Federation': 'Europe', 
        'Canada': 'North America', 
        'Germany': 'Europe', 
        'India': 'Asia',
        'France': 'Europe', 
        'South Korea': 'Asia', 
        'Italy': 'Europe', 
        'Spain': 'Europe', 
        'Iran': 'Asia',
        'Australia': 'Australia', 
        'Brazil': 'South America'
    }
    
    df['Continent'] = df.index.to_series().map(ContinentDict)
    df['Estimated Population'] = df['Energy Supply'] / df['Energy Supply per Capita']
    continent_stats = df.groupby('Continent')['Estimated Population'].agg(['size', 'sum', 'mean', 'std'])
    
    return continent_stats
answer_eleven()

               size               sum              mean           std
Continent
Asia              5   2898666386.6106   579733277.32212  6.790979e+08
Australia         1   23316017.316017   23316017.316017           NaN
Europe            6  457929667.216372   76321611.202729  3.464767e+07
North America     2   352855249.48025  176427624.740125  1.996696e+08
South America     1  205915254.237288  205915254.237288           NaN

In [119]:
# example of test cases
assert type(answer_eleven()) == pd.DataFrame, "Q11: You should return a DataFrame!"
assert answer_eleven().shape[0] == 5, "Q11: Wrong row numbers!"
assert answer_eleven().shape[1] == 4, "Q11: Wrong column numbers!"

In [ ]:
# space for proffesor tests

## Problem 12

Cut (check `.cut()` from Pandas) _% Renewable_ into $5$ bins, but in the same column. Group _Top15_ by the _Continent_, as well as these new _% Renewable_ bins. How many countries are in each of these groups? You could check `.size()` as aggregation in group by.

_This function should return a Series with a MultiIndex of `Continent`, then the bins for `% Renewable` (in string datatype). Do not include groups with no countries._

In [146]:
def answer_twelve() -> pd.Series:
    """
    Cuts % Renewable into 5 bins and groups the Top15 by Continent and these % Renewable bins.
    Returns the number of countries in each group.

    Returns:
        pd.Series: A Series with a MultiIndex of `Continent`, then the bins for `% Renewable`.
    """
    # YOUR CODE HERE
    df = answer_one()

    ContinentDict = {
        'China': 'Asia', 
        'United States': 'North America', 
        'Japan': 'Asia', 
        'United Kingdom': 'Europe', 
        'Russian Federation': 'Europe', 
        'Canada': 'North America', 
        'Germany': 'Europe', 
        'India': 'Asia',
        'France': 'Europe', 
        'South Korea': 'Asia', 
        'Italy': 'Europe', 
        'Spain': 'Europe', 
        'Iran': 'Asia',
        'Australia': 'Australia', 
        'Brazil': 'South America'
    }
    
    df['Continent'] = df.index.to_series().map(ContinentDict)
    df['% Renewable Bins'] = pd.cut(df['% Renewable'], 5)
    grouped = df.groupby(['Continent', '% Renewable Bins'], observed=False).size()
    
    return grouped
answer_twelve()

Continent      % Renewable Bins
Asia           (2.212, 15.753]     4
               (15.753, 29.227]    1
               (29.227, 42.701]    0
               (42.701, 56.174]    0
               (56.174, 69.648]    0
Australia      (2.212, 15.753]     1
               (15.753, 29.227]    0
               (29.227, 42.701]    0
               (42.701, 56.174]    0
               (56.174, 69.648]    0
Europe         (2.212, 15.753]     1
               (15.753, 29.227]    3
               (29.227, 42.701]    2
               (42.701, 56.174]    0
               (56.174, 69.648]    0
North America  (2.212, 15.753]     1
               (15.753, 29.227]    0
               (29.227, 42.701]    0
               (42.701, 56.174]    0
               (56.174, 69.648]    1
South America  (2.212, 15.753]     0
               (15.753, 29.227]    0
               (29.227, 42.701]    0
               (42.701, 56.174]    0
               (56.174, 69.648]    1
dtype: int64

In [147]:
# example of test cases
assert type(answer_twelve()) == pd.Series, "Q12: You should return a Series!"
assert len(answer_twelve()) == 25, "Q12: Wrong result numbers!"

In [ ]:
# space for proffesor tests

## Problem 13

Convert the _Population Estimate_ series to a string with thousands separator (using _dots_). Use all significant digits (do not round the results).

e.g. 12345678.90 -> 12.345.678,90

_This function should return a series `pop_est` whose index is the country name and whose values are the population estimate string_

In [149]:
def answer_thirteen() -> pd.Series:
    """
    Converts the Population Estimate series to a string with thousands separator (using dots).
    Use all significant digits (do not round the results).

    Returns:
        pd.Series: A series `pop_est` whose index is the country name and whose values are the population estimate string.
    """
    # YOUR CODE HERE
    df = answer_one()
    df['Estimated Population'] = df['Energy Supply'] / df['Energy Supply per Capita']
    pop_est = df['Estimated Population'].apply(lambda x: '{:,.2f}'.format(x).replace(',', 'X').replace('.', ',').replace('X', '.'))
    
    return pop_est
answer_thirteen()

Country
China                 1.367.645.161,29
United States           317.615.384,62
Japan                   127.409.395,97
United Kingdom           63.870.967,74
Russian Federation      143.500.000,00
Canada                   35.239.864,86
Germany                  80.369.696,97
India                 1.276.730.769,23
France                   63.837.349,40
South Korea              49.805.429,86
Italy                    59.908.256,88
Spain                    46.443.396,23
Iran                     77.075.630,25
Australia                23.316.017,32
Brazil                  205.915.254,24
Name: Estimated Population, dtype: object

In [150]:
# example of test cases
assert type(answer_thirteen()) == pd.Series, "Q13: You should return a Series!"
assert len(answer_thirteen()) == 15, "Q13: Wrong result numbers!"

In [ ]:
# space for proffesor tests